@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #000000;
  color: #e0e0e0;
  /* Bikin scroll mulus di layar HP */
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

/* MUSNAHKAN SCROLLBAR DI SEMUA ELEMEN SECARA PAKSA */
* {
  scrollbar-width: none !important; /* Buat Firefox engine */
  -ms-overflow-style: none !important; /* Buat Edge/IE engine */
}

/* Tembak mati scrollbar Webkit (Chrome/Android WebView) */
*::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}
